venv/
__pycache__/
*.pyc

.env

.idea/
.vscode/

*.db

#Test files
app/tests/password_test.py
app/tests/jwt_test.py

# Structure

structure.md

# enviroment files

.env
######################################

helper.py